.follower-lists {
  list-style-type: none;
  padding-bottom: 5px;
  margin: 0 auto 10px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 50px;
  background-color: #fff;
  text-align: center;
}

.user_link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.user_link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}

.user_link:hover:after {
  transform: translate(0, 0);
}