<div class="footer" >
  <div class="left-footer">
    <%= link_to "機能紹介", new_labo_path, class: :labo_show %>
  </div>
  <div class="center-footer">
    <%= link_to "Academiclabo", "/", class: :footer_logo%>
  </div>
  <div class="right-footer">
    <%= link_to "お知らせ", new_news_path, class: :contact %>
  </div>
</div>