<div class="body">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
    <div class="new-header">
      <%= link_to "Academiclabo", "/", class: :logo%>
    </div>
    <div class='main'>
      <div class="left-box">
      </div>
      <div class="center-box">
        <h2 class="center-title">お知らせ</h2>
        <p class="news-messages">4月11日:フォロー機能を実装致しました。</p>
      </div>
      <div class="right-box">
      </div>
    </div>
  </div>
</div>