<div class="new-header">
  <%= link_to image_tag("26022021154125A.png", class:"new-logo"), "/" %>
</div>
<div class="main">
  <div class="left-box">
  </div>
  <div class="center-box">
    <div class="cols">
      <%= render partial: 'posts/post', collection: @posts %>
    </div>
  </div>
  <div class="right-box">
  </div>
</div>