<div class="card" ontouchstart="this.classList.toggle('hover');">
  <div class="user-form">
    <%= link_to "#{post.user.nickname}", user_path(post.user), class: :card_user %>
    <p>が投稿</p>
  </div>
    <%= link_to post.title, post_path(post), class: :card_show %>
</div>